@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron text-center blue-grey lighten-5 mt-5">
    <h2 class="card-title h2">Project Name Here</h2>
    <p class="indigo-text my-4 font-weight-bold">Built With The C# Language And .NET Framework</p>
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 pb-2">
            <p class="card-text">
                This is based off the "mvc" template that comes with ASP.NET Core. The kingwerdmvc template comes with login/registration functionality as well as various helper functions within UserController.cs for working with Session. If you are developing an application that requires a dynamic Navbar copy the code from the partial to the layout file and remove container divs where relevant. As time progresses more will be added and updated. Enjoy!
            </p>
        </div>
    </div>
</div>
<section class="text-center my-5">
    <div class="row">
        <div class="col-md-4">
            <i class="fas fa-chart-area fa-3x red-text"></i>
            <h5 class="font-weight-bold my-4">Database Connections</h5>
            <p class="grey-text mb-md-0 mb-5">To connect to your MySQL database navigate to the appsettings.json file and replace the necessary fields with your db's information.</p>
        </div>
        <div class="col-md-4">
            <i class="far fa-comments fa-3x orange-text"></i>
            <h5 class="font-weight-bold my-4">Styling</h5>
            <p class="grey-text mb-md-0 mb-5">
                Styling was done with MD Bootstrap. Documentation and code snippets are <a href="https://mdbootstrap.com/" target="_blank">HERE</a>!
            </p>
        </div>
        <div class="col-md-4">
            <i class="fas fa-book fa-3x cyan-text"></i>
            <h5 class="font-weight-bold my-4">Other Information</h5>
            <p class="grey-text mb-0">For help with developing LINQ queries for database operations checkout this link <a href="https://code.msdn.microsoft.com/101-LINQ-Samples-3fb9811b" target="_blank">here</a>. Move/copy/modify/delete files within your project where you see fit!</p>
        </div>
    </div>
</section>
