<div class="row justify-content-center mt-3">
    <div class="col-7">
        <section class="form-gradient">
            <div class="card">
                <div class="header pt-3 blue-gradient">
                    <div class="row d-flex justify-content-center">
                        <h3 class="white-text mb-3 pt-3 font-weight-bold">Register</h3>
                    </div>
                    <div class="row mt-2 mb-3 d-flex justify-content-center">
                        <a class="fa-lg p-2 m-2 fb-ic"><i class="fab fa-facebook-f white-text fa-lg"> </i></a>
                        <a class="fa-lg p-2 m-2 tw-ic"><i class="fab fa-twitter white-text fa-lg"> </i></a>
                        <a class="fa-lg p-2 m-2 gplus-ic"><i class="fab fa-google-plus-g white-text fa-lg"> </i></a>
                    </div>
                </div>
                <div class="card-body mx-4 mt-1">
                    @model User
                    <form asp-action="CreateUser" asp-controller="User" method="post">
                        <span asp-validation-for="Email" class="text-danger text-sm"></span>
                        <div class="md-form">
                            <input asp-for="Email" class="form-control">
                            <label asp-for="Email"></label>
                        </div>
                        <span asp-validation-for="FirstName" class="text-danger text-sm"></span>
                        <div class="md-form">
                            <input asp-for="FirstName" class="form-control">
                            <label asp-for="FirstName"></label>
                        </div>
                        <span asp-validation-for="LastName" class="text-danger text-sm"></span>
                        <div class="md-form">
                            <input asp-for="LastName" class="form-control">
                            <label asp-for="LastName"></label>
                        </div>
                        <span asp-validation-for="Password" class="text-danger text-sm"></span>
                        <div class="md-form">
                            <input asp-for="Password" class="form-control">
                            <label asp-for="Password"></label>
                        </div>
                        <span asp-validation-for="Confirm" class="text-danger text-sm"></span>
                        <div class="md-form">
                            <input asp-for="Confirm" class="form-control">
                            <label asp-for="Confirm"></label>
                        </div>
                        <div class="col-md-1 col-md-5 d-flex align-items-start">
                            <div class="text-center">
                                <button type="submit" class="btn btn-grey btn-rounded z-depth-1a">Register</button>
                            </div>
                        </div>
                    </form>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-md-7">
                            <p class="font-small grey-text d-flex justify-content-end mt-3">Already have an account? <a class="dark-grey-text ml-1 font-weight-bold" asp-controller="User" asp-action="SignIn"> Sign in</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>